{% set cookiesAllowed = [] %}

<div id="sm-messages-{{ __SELF__.alias }}" style="display: hidden;">

    {% if messagesItems|length %}

        {% for message in messagesItems %}

            <div id="sm-message-{{message.id}}">

                {% if message.cookie_allow %}

                    {% set cookiesAllowed = cookiesAllowed|merge({ (loop.index) : message }) %}

                {% endif %}

                <div class="message">

                    {% if message.title %}

                        <h4 class="message-title">{{ message.title }}</h4>

                    {% endif %}

                    {% if message.content %}

                        {{ message.content|raw }}

                    {% endif %}

                </div>

            </div>

        {% endfor %}

        <div class="footer">

            <button id="sm-btn-{{ __SELF__.alias }}" type="button" class="btn btn-primary" data-dismiss="modal">{{ smSettingsGet('btn_hide_title') ? smSettingsGet('btn_hide_title') : 'Hide' }}</button>

        </div>

    {% endif %}

</div>


{% put scripts %}

    {% if messagesItems|length %}

        <script>
        
            $('#sm-messages-{{ __SELF__.alias }}').show();
        
        </script>

    {% endif %}

    <script>

        $('#sm-btn-{{ __SELF__.alias }}').click(function(e) {

            e.preventDefault();

            {% if cookiesAllowed|length %}

                {# Set cookies for Messages #}
                {% for item in cookiesAllowed if item.cookie_lifetime_days > 0 %}

                    var date = new Date();

                    date.setDate(date.getDate() + {{ item.cookie_lifetime_days }});

                    document.cookie = "{{ 'sm-cookie-'~item.id~'=1; path=/; expires='}}" + date.toGMTString();

                {% endfor %}

            {% endif %}

            $('#sm-messages-{{ __SELF__.alias }}').hide();

        });

    </script>


{% endput %}